 .block-about{
   margin: 0 auto;
   max-width: 1270px;
   &__container{
     text-align: center;
   }
   &__header{
     padding-top: 48px;
     margin-bottom: 40px;
     color: #666666;
     font-size: 20px;
     text-align: center;
   }
   &__svg{
     width: 100px;
   }
   &__header-span {
     color: #2abb9b;
   }
   &__container-text{
     color: #666666;
     font-size: 18px;
     text-align: justify;
   }
   &__container-header{
     color: #666666;
     font-size: 20px;
   }
 }

 img{
   width: 470px;
 }

